#moto_link_agregator_container {
	position: fixed;
	background: #fff;
	padding: 20px;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border: 1px solid #000;
	z-index: 100;
	overflow-y: scroll;
}
#moto_link_agregator_container>table,
#moto_link_agregator_container textarea 
{
	float: left;
}
#moto_link_agregator_container textarea {
	width: 50%;
	height: 90%;
}
#moto_link_agregator_container .moto_counter{
	clear: both;
}

#moto_link_agregator_container table:nth-child(1) tr:nth-child(even),
#moto_link_agregator_container table:nth-child(2) tr:nth-child(odd){
	background: #CCC;
}